<template lang="html">
    <div class="ui vertical masthead center aligned segment">
  <div class="ui container">
      <div class="ui attached message">
          <div class="header">
              Créer un nouveau certificat
          </div>
          <p>Entrez les informations concernant le certificat</p>
      </div>

        <form
        class="ui form attached segment fluid"
        v-on:submit.prevent="addCertificate"
        >
        <div class="field">
            <label for="fileDipPdf">
                Importer le diplôme de l'étudiant :
            </label>
            <input
            type="file"
            id="fileDipPdf"
            name="fileDipPdf"
            v-on:change="handleDipPdf"
            >
        </div>
        <div class="field">
            <label for="diplomaId">
                Id du diplôme
            </label>
            <input
                type="text"
                id="diplomaId"
                name="diplomaId"
                v-model="input.diplomaId"
            >
        </div>
            <div class="btn-group">
                <button
                    type="submit"
                    class="ui blue button"
                >
                    Valider
                </button>
                <button
                    type="submit"
                    class="ui button"
                    v-on:click="$router.push('/school/certificates')"
                >
                    Retour
                </button>
            </div>
        </form>
        <!-- <div class="btn-group">
            <button
                class="ui button"
                v-on:click="downloadCertificate"
            >
                Télécharger le certificat
            </button>
        </div> -->
        <div
            v-if="error"
            class="ui error message bottom attached"
        >
            Une erreur est survenue lors de l'ajout du diplôme
        </div>
        <div
            v-if="success"
            class="ui success message bottom attached"
        >
            Le certificat a bien été ajouté
        </div>
    </div>
    </div>
</template>

<script>
import shajs from "sha.js"
import uniqid from "uniqid"
export default {
    data() {
        return {
            input: {
                id: "",
                diploma: null,
                signature: null,
                diplomaId: ""
            },
            error: false,
            success: false,
        }
    },
    methods: {
        async addCertificate() {
            const formData = new FormData()
            formData.append("diploma", this.input.diploma)
            formData.append("diplomaId", this.input.diplomaId)
            console.log(formData)

            const response = await fetch(`${process.env.APP_URL}/certificates`, {
                method: "POST",
                body: formData
            })
            this.error = !response.ok
            this.success = true
        },
         downloadCertificate() {

          console.log("hello")

        },
        handleDipPdf(e) {
            this.input.diploma = e.target.files[0]
            console.log("data diploma", this.input.diploma)
        }
    }
}
</script>
