<template lang="html">
    <div class="ui container">
        <div class="ui attached message">
            <div class="header">
                Créer un nouveau diplôme
            </div>
            <p>Entrez les informations concernant le diplôme.</p>
        </div>
        <form
            class="ui form attached segment fluid"
            @submit.prevent="addDiploma"
        >
            <div class="field">
                <label for="description">
                    Description
                </label>
                <textarea
                    id="description"
                    v-model="data.description"
                    name="description"
                    rows="3"
                    cols="80"
                />
            </div>
            <button
                type="submit"
                class="ui button"
            >
                Valider
            </button>
            <button
                type="submit"
                class="ui primary button"
                onclick="location.href='/school'"
            >
                Retour
            </button>
        </form>
        <template v-if="filled">
          <div
            v-if="error"
            class="ui error message attached bottom"

        >
            Une erreur est survenue
        </div>
        <div
            v-else
            class="ui confirmation message attached bottom"

        >
          Le diplôme a été ajouté !
        </div>
    </div>
</template>

<script>
import uniqid from "uniqid"
export default {
    data() {
        return {
            data: {
                id: "",
                description: "",
                school: "consortium.supchain.participants.School#1"
            },
            filled: false,
            error: false
        }
    },
    methods: {
        async addDiploma() {
          this.filled = true
            this.data.id = uniqid()
            const response = await fetch(`${process.env.API_URL}/api/consortium.supchain.assets.Diploma`, {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(this.data)
            })
            this.error = !response.ok
        }
    }
}
</script>
