<template>
    <table class="ui single line selectable table">
        <thead>
            <tr class="center aligned">
                <th>#id</th>
                <th>Diplôme</th>
                <th>Ecole</th>
                <th>Hash</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned"
                v-for="certificate in certificates"
                :key="certificate.id"
            >
                <td>{{ certificate.id }}</td>
                <td>{{ certificate.diploma.description }}</td>
                <td>{{ certificate.diploma.school.name }}</td>
                <td>{{ certificate.hashInfo.substr(0,16) }} ...</td>
            </tr>
            <tr
                v-if="certificates.length == 0"
                class="ui message warning attached bottom"
            >
                <td v-if="!error"
                    class="collapsing"
                    colspan="4"
                >
                    <i class="icon warning" />
                    Aucun certificat n'est enregistré
                </td>
                <td
                    class="collapsing"
                    colspan="4"
                    v-if="error"
                >
                    <i class="icon warning" />
                    Erreur chargement des données
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    props: {
        certificates: Array,
        error: Boolean
    }
}
</script>

<style lang="css">
</style>
