<template>
    <table class="ui single line selectable table">
        <thead>
            <tr class="center aligned">
                <th>#id</th>
                <th>Description</th>
                <th>Ecole</th>
            </tr>
        </thead>
        <tbody>
            <tr
                v-for="diploma in diplomas"
                v-bind:key="diploma.id"
                class="center aligned"
            >
                <td>{{ diploma.id }}</td>
                <td>{{ diploma.description }}</td>
                <td>{{ diploma.school.name }}</td>
            </tr>
        </tbody>
        <tr
            v-if="diplomas.length == 0"
            class="ui message warning attached bottom"
        >
            <td
                class="collapsing"
                colspan="3"
                 v-if="!error"
            >
                <i class="icon warning" />
                Aucun diplôme n'est enregistré
            </td>
            <td
                class="collapsing"
                colspan="3"
                v-if="error"
            >
                <i class="icon warning" />
                Erreur chargement des données
            </td>
        </tr>
    </table>
</template>

<script>
export default {
    props: {
        diplomas: Array,
        error: Boolean
    }
}
</script>
