<template>
    <div>
    <div class="ui vertical inverted masthead center aligned segment">
        <div>
            <div class="ui text container">
                <h1 class="ui inverted header title">
                    SupChain
                </h1>
                <h2>Plateforme d'authentification de diplômes <br>basée sur la blockchain</h2>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">
                            Recruteurs
                        </h3>
                        <p>Nous vous aidons à authentifier et à identifier les candidats à vos offres d'emploi.</p>
                        <h3 class="ui header">
                            Étudiants
                        </h3>
                        <p>Nous garantissons la valeur de votre diplôme.</p>
                        <h3 class="ui header">
                            Écoles
                        </h3>
                        <p>Nous protégeons vos diplômés et enseignants.</p>
                    </div>
                    <div class="six wide right floated column">
                        <!-- <img src="Homepage%20-%20Semantic_files/white-image.png" class="ui large bordered rounded image"> -->
                        <!-- <i class="ui icon graduation cap"></i> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <h3 class="ui header">
                    Pourquoi un site d'authentification de diplômes ?
                </h3>
                <p>
                    Le monde du recrutement, en l’état actuel, présente de nombreux problèmes. Il est de notoriété publique que certains candidats mentent sur leur CV, mais la proportion de CV falsifiés est de beaucoup sous-estimée. En effet, selon une étude menée en 2013 par le cabinet de conseil en recrutement "Florian Mantione Institut", 65% des CV seraient trompeurs, et 29% d’entre eux le seraient sur la formation des candidats. Il s’avère aussi que la vaste majorité des recruteurs ne vérifient presque jamais les informations présentes sur les CV des candidats, mais lorsqu’ils le font, il découvrent des inexactitudes dans la nature du diplôme dans plus d’un quart des cas, ce qui est extrêmement élevé.
                    Cette pratique qui consiste à mentir sur son CV est facilitée par la difficulté pour un recruteur d’aller vérifier la véracité des informations présentes sur les CV des candidats. Il n’existe en effet aucune base accessible publiquement permettant d’être certain qu’un étudiant a effectivement eu son diplôme. Les recruteurs font donc souvent appel à des cabinets spécialisés, qui iront chercher eux même l’information auprès des écoles. Le problème est le même pour les établissements d’enseignement supérieur : dans le cadre des échanges académiques, ils épluchent les candidatures des étudiants, sans avoir la certitude qu’ils ont effectivement validé leur diplôme. Le problème est d’autant plus difficile à résoudre pour les échanges à l’international.
                    En réponse au défi de la lutte contre la fraude aux diplômes, le projet consiste à mettre en place une plateforme d’authentification des diplômes, qui vise à grandement faciliter la vérification du diplôme d’un candidat par un recruteur. Le but est d'une part de réduire la fraude de manière directe, et d'autre part de faciliter la vérification de diplômes aux recruteurs de façon simple et en accord avec le RGPD.
                </p>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios"

export default {
    data() {
        return {

        }
    },
    computed: {
        profilname() {
            if (this.$store.state.user.role === "student") {
                return "étudiant"
            }
            else if (this.$store.state.user.role === "school") {
                return "école"
            }
            else if (this.$store.state.user.role === "admin") {
                return "administrateur"
            }
        },
        username() {
            return this.$store.state.user.name
        },
        connected() {
            return this.$store.state.connected
        }
    },
}
</script>
<style type="text/css">
    .hidden.menu {
        display: none;
    }

    .masthead.segment {
        min-height: 700px;
        padding: 1em 0em;
    }
    .masthead .logo.item img {
        margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }
    .masthead h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
    }
    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }

    .ui.vertical.stripe {
        padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
        font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
        clear: both;
    }
    .ui.vertical.stripe p {
        font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }

    .quote.stripe.segment {
        padding: 0em;
    }
    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .footer.segment {
        padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
        display: none;
    }

    @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
            display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
            display: none;
        }
        .secondary.pointing.menu .toc.item {
            display: block;
        }
        .masthead.segment {
            min-height: 350px;
        }
        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }
        .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }
</style>
<!-- Page Contents -->
