<template>
    <div class="ui vertical masthead center aligned segment">
        <div class="ui middle aligned center aligned grid">
            <div class="column">

                <h2 class="ui image header">
                    <img src="../images/logo_supchain.png" class="image" alt="logo">
                    <div class="content">
                        Connexion
                    </div>
                </h2>
                <form
                    class="ui large form"
                    @submit.prevent="login"
                >
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input
                                    type="text"
                                    name="email"
                                    placeholder="Adresse e-mail"
                                >
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input
                                    type="password"
                                    name="password"
                                    placeholder="Mot de passe"
                                >
                            </div>
                        </div>
                        <div>
                            <input
                                type="submit"
                                value="Login"
                                class="ui fluid large submit button"
                            >
                        </div>
                    </div>
                </form>
                <div class="ui error message" v-if="err_login">Erreur d'authentification. Veuillez vérifier votre mot de passe</div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios"
//import router from "../routes"

export default {
    name: "Login",
    data() {
        return {
            err_login: false
        }
    },
    methods: {
        login(e) {
            // e.preventDefault()
            let email = e.target.elements.email.value
            let password = e.target.elements.password.value

            let login = () => {
                let data = {
                    email: email,
                    password: password
                }
                axios.post("/api/login", data)
                    .then((response) => {
                        console.log("Logged in")
                        this.$store.dispatch("login", response.data)
                        this.$router.push("/")
                    })
                    .catch((errors) => {
                        this.err_login = true
                    })
            }
            login()
        }
    }
}
</script>

<style scoped type="text/css">
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}
</style>
