<template lang="html">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
            <h1>
                <i class="icon user"></i>
                Espace recruteurs
            </h1>
            <div class="ui attached message">
                <div class="header">
                    Vérifier un certificat
                </div>
                <p>Entrez le certificat qui vous a été transmis au format pdf.</p>
            </div>
            <form
                class="ui form attached segment fluid"
                @submit.prevent="verify"
            >
            <div class="field">
                <label for="fileSigPdf">
                Importer le certificat de l'étudiant :
                </label>
                <input
                  type="file"
                  id="fileCertPdf"
                  name="fileCertPdf"
                  v-on:change="handleCertPdf"
                >
            </div>
                <button
                    type="submit"
                    class="ui button"
                >
                    Vérifier
                </button>
            </form>
            <template v-if="results">
                <!-- <div class="ui divided selection list">
                    <a class="item">
                        <div class="ui blue horizontal label">
                            Hash
                        </div>
                        {{ hashInfo }}
                    </a>
                </div> -->
                <div
                    v-if="!certified"
                    class="ui message error bottom attached"
                >
                    Le diplôme est invalide
                </div>
                <div
                    v-else
                    class="ui message success bottom attached"
                >
                    Le diplôme est bien valide
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import shajs from "sha.js"
import axios from "axios"
export default {
    data() {
        return {
            data: {
                fileCertPdf : ""
            },
            certified: false,
            results: false
        }
    },
    computed: {
        hashInfo() {
            return shajs("sha256").update(JSON.stringify({
                fileCertPdf: this.data.fileCertPdf,
            })).digest("hex")
        }
    },
    methods: {
        async verify() {
            const formData = new FormData()
            formData.append("certificate", this.data.fileCertPdf)
            try {
                const response = await axios.post(`${process.env.APP_URL}/certificates/verify`, formData)
                console.log(response)
                this.certified = true
            }
            catch(e) {
                this.certified = false
            }

            this.results = true

            // this.certified = results.length === 1
        },
        handleCertPdf(e) {
            this.data.fileCertPdf=e.target.files[0]
            console.log(this.data.fileCertPdf)
        }
    }
}
</script>

<style lang="css">
</style>
