<template lang="html">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
            <h1>
                <i class="university icon"></i>
                Espace écoles
            </h1>
            <div class="ui two item menu">
                <router-link to="/school/certificates" class="item" v-bind:class="{active: /certificate/.test($route.name)}">Certificats</router-link>
                <router-link to="/school/diplomas" class="item" v-bind:class="{active: /diploma/.test($route.name)}">Type de diplômes</router-link>
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import axios from "axios"
    export default {
        mounted() {
            this.getUserData()
        },
        methods:{
            async getUserData() {
                try {
                    await axios.get("/api/user")
                }
                catch(e) {
                    this.$router.push("/login")
                    console.log("erreur school")
                }
            }
        }
    }
</script>