<template lang="html">
<div>
    <h2 class="ui header">Types de diplômes</h2>
    <diploma-list v-bind:diplomas="diplomas" v-bind:error="error"></diploma-list>
    <div class="btn-group">
        <router-link to="/school/diplomas/add" class="ui button labeled icon">
            <i class="add icon"></i>
            Ajouter
        </router-link>
    </div>
</div>
</template>

<script>
import DiplomaList from "./DiplomaList"
import axios from "axios"
export default {
    data() {
        return {
            diplomas: [],
            error: false
        }
    },
    components: {
        DiplomaList
    },
    mounted() {
        this.fetchDiplomas()
    },
    methods: {
        async fetchDiplomas() {
            try {
                const response = await axios.get(`${process.env.APP_URL}/diplomas`)
                console.log(response)
                this.diplomas = response.data.data
            }
            catch(e) {
                this.error = true
                console.log(e)
            }
        },
    }
}
</script>

<style lang="css">
</style>
