<template lang="html">
<div>
    <h2 class="ui header">Certificats</h2>
    <certificate-list v-bind:certificates="certificates" v-bind:error="error"></certificate-list>
    <div class="btn-group">
        <router-link to="/school/certificates/add">
            <button class="ui button labeled icon">
                <i class="add icon"></i>
                Ajouter
            </button>
        </router-link>
    </div>
</div>
</template>

<script>
import CertificateList from "./CertificateList"
import axios from "axios"
export default {
    data() {
        return {
            certificates: [],
            error: false,
        }
    },
    components: {
        CertificateList,
    },
    mounted() {
        this.fetchCertificates()
    },
    methods: {
        async fetchCertificates() {
            try {
                const response = await axios.get(`${process.env.APP_URL}/certificates`)
                console.log(response)
                this.certificates = response.data.data
            }
            catch(e) {
                this.error = true
            }
        }
    }
}
</script>
