<template lang="html">
    <div class="ui container">
        <h1>
            <i class="icon graduation cap"></i>
            Portail Diplômés
        </h1>
        <div class="ui attached message">
            <div class="header">
              Editer Mon Profil
            </div>
        </div>

        <form
            class="ui form attached segment fluid"
            v-on:submit.prevent="setUserData"
            >
       <img class="avatar" src="../images/avatar.png"/>
       <div class="field">
            <label  for="name">Nom: </label>
            <input type="text"  v-model="user.name">
       </div>

       <div class="field">
            <label  for="age">Age: </label>
            <input type="text"  v-model="user.age">
      </div>

       <div class="field">
            <label  for="role">Status: </label>
            <input type="text"   v-model="user.role">
      </div>

       <div class="field">
            <label  for="email">Email: </label>
            <input type="text"   v-model="user.email">
      </div>

       <div class="field">
            <label  for="diploma">Diplôme </label>
            <input type="text"   v-model="user.diploma">
      </div>

       <div class="field">
            <label  for="adress">Adresse: </label>
            <input type="text"   v-model="user.adress">
      </div>
    <button type="submit" class="ui button">sauvegarder </button>
    </form>
    </div>
</template>

<script>
import axios from "axios"
import router from "../routes"
export default {
    name: "Student",
    data() {
        return {
            user: {
                name:"",
                age: "",
                role: "",
                email: "",
                diploma: "",
                adress: ""
            }
        }
    },
    mounted() {
        this.getUserData()
    },
    methods:{
      async setUserData() {
        try {
          const response = await axios.post("/api/user",{user : this.user})
        }
        catch(e) {
          console.log("erreur student")
        }
        this.$router.push("/student")
      },
      async getUserData() {
        try {
          const response = await axios.get("/api/user")
          this.user = response.data.user
        }
        catch(e) {
          console.log("erreur student")
        }
      }
    }
}
</script>
<style>
img.avatar{
  width: 140px;
  height: 160px;
  padding-right: 15px;
  display: block;
}
label{
  margin-top: 15px;
  font-weight: bold;
}
</style>
