<template lang="html">
    <div class="ui vertical masthead center aligned segment">
    <div class="ui container">
        <h1>
            <i class="icon graduation cap"></i>
            Portail Diplômés
        </h1>
        <div class="ui attached message">
            <div class="header">
              Mon Profil
            </div>
        </div>
        <form
            class="ui form attached segment fluid">
            <img class="avatar" src="../images/avatar.png"/>
            <label  for="name">Nom:  </label>{{ user.name }}<br/>
            <label  for="age">Age: </label>{{ user.age }} ans <br/>
            <label  for="role">Status: </label>{{ user.role }} <br/>
            <label  for="email">Email: </label>{{ user.email }} <br/>
            <label  for="diploma">Diplôme: </label>{{ user.diploma }}<br/>
            <label  for="adress">Adresse: </label>{{ user.adress }} <br/>
            <router-link to="/studentedit" type="submit" class="ui button">Modifier</router-link>
        </form>
    </div>
    </div>
</template>

<script>
import axios from "axios"
export default {
    data() {
        return {
            user: {
                name:"",
                age: "",
                role: "",
                email: "",
                diploma: "",
                adress: ""
            }
        }
    },
    mounted() {
        this.getUserData()
    },
    methods:{
      async getUserData() {
        try {
          const response = await axios.get("/api/user")
          this.user = response.data.user
        }
        catch(e) {
          this.$router.push("/login")
          console.log("erreur student")
        }
      }
    }
}
</script>
<style>
img.avatar{
  width: 140px;
  height: 160px;
  float: left;
  padding-right: 15px;
}
label{
  font-weight: bold;
}
</style>
