<template>
    <div id="app">
        <div class="ui top inverted menu">
            <div class="ui container">
                <router-link exact to="/" class="header item">
                    <img class="logo" src="../images/logo_supchain.png">
                    SupChain
                </router-link>
                <router-link class="item" to="/school/certificates">Ecoles</router-link>
                <router-link class="item" to="/recruiter">Recruteurs</router-link>
                <router-link class="item" to="/student">Etudiants</router-link>
                <!--<div style="flex-grow: 1"></div> -->
                <router-link v-if="!connected" class="item" to="/login">
                <div class="right">
                    <div class="ui green button">
                        <i class="icon sign in"></i>
                        Se Connecter
                    </div>
                </div>
                </router-link>
                <a v-if="connected" class="item">
                    <div class="ui blue button">
                        Profil {{ profilname }} : {{ username }}
                    </div>
                </a>
                <a v-if="connected" class="item" v-on:click="logout()">
                    <div class="ui red button">
                        <i class="icon sign in"></i>
                        Se Déconnecter
                    </div>
                </a>
            </div>
        </div>
        <router-view></router-view>
        <br>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">
                            A propos
                        </h4>
                        <div class="ui inverted link list">
                            <a href="https://www.bordeaux-inp.fr"
                               class="item"
                            >
                                Bordeaux-INP
                            </a>
                            <a href="#"
                               class="item"
                            >
                                Contactez-nous
                            </a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">
                            Liens
                        </h4>
                        <div class="ui inverted link list">
                            <a
                                    href="https://gitlab.com/supchain/supchain.git"
                                    class="item"
                            >
                                Clonez le projet sur Gitlab
                            </a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">
                            &copy; 2019
                        </h4>
                        <ul class="ui list horizontal">
                            <div class="item">
                                Abel Calluaud
                            </div>
                            <div class="item">
                                Maxime Chareyron
                            </div>
                            <div class="item">
                                Yesmine Dammak
                            </div>
                            <div class="item">
                                Achraf El Khamsi
                            </div>
                            <div class="item">
                                Ludovic Neynaud
                            </div>
                            <div class="item">
                                Marie Ostertag
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="ui inverted section divider" />
                <img src="../images/logo_supchain.png" class="ui centered mini image"
                     style="padding-top: 1em"
                >
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios"
    export default {
        data() {
            return {
                user: null
            }
        },
        computed: {
            profilname() {
                if (this.$store.state.user.role === "student") {
                    return "étudiant"
                }
                else if (this.$store.state.user.role === "school") {
                    return "école"
                }
                else if (this.$store.state.user.role === "admin") {
                    return "administrateur"
                }
            },
            username() {
                return this.$store.state.user.name
            },
            connected() {
                return this.$store.state.connected
            }
        },
        methods: {
            logout: function (e) {
                this.$store.dispatch("logout")
                axios
                    .get("/api/logout")
                    .then(() => {
                        this.$router.push("/")
                    })
            },
            async getUserData() {
                try {
                    const response = await axios.get("/api/user")
                    this.$store.dispatch("login", response.data)
                    this.user=response.data
                }
                catch(e) {
                    console.log("erreur spc")
                }
            }
        },
        mounted() {
            this.getUserData()
        }

    }
</script>
<style scoped type="text/css">
    .ui.menu .item img.logo {
        margin-right: 1.5em;
    }
    .ui.inverted.menu {
        border-radius: 0;
    }
</style>
